<p>
<%= link_to_unless I18n.locale == :en, "English", locale:  :en %>
|
<%= link_to_unless I18n.locale == :fr, "Français", locale:  :fr %>
</p>
<h2><%= I18n.t(:date_header) %></h2>
<ul>
	<% @importantdates.each do |importantdate| %>
	  <li><%=  I18n.localize(importantdate.importantdate, format: :long) %> - <%= importantdate.name %></li>
	<% end %>
</ul>
<%= link_to I18n.t(:add_date), new_importantdate_path %>
